body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;


}

.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #1F2937;
    color: #f9faf8;
    padding-left: 32px;

}


.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: baseline;
  
}

.sub-header{
    display: flex;
    flex-direction: row;
}

#greeting {
    font-size: 48px;
    font-weight: 900;
    padding: 16px;
    margin: 0;
}

.intro {
    display: inline-flex;
}


.title {
    font-size: 32px;
    margin-left: 12px;
}

ul {
    display:flex;
    list-style: none;
    justify-content: flex-end;
    padding: 8px;
    margin-top: 0;
    align-items: baseline;

}




a {
    color: #e5e7eb;
    text-decoration: none;
    justify-content: space-between;
    font-size: 16px;
    margin-right: 16px;
}

img {
    display: flex;
    padding: 16px;
    justify-content: flex-end;
}